<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altera Bio-encryption</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="/assets/leaf.mp4" type="video/mp4">
      </video>
    
    <header>
        <h1><a href="/" class="home-link">Altera Bio-encryption</a></h1>
        <a href="/login" class="cta-button">Log In</a>
    </header>

    <main>
        <div class="grid-item">Item 1</div>
        <div class="grid-item">Item 2</div>
        <nav>
            <a href="/about">01 About</a>
            <a href="/pricing">02 Pricing</a>
            <a href="/careers">03 Careers</a>
            <a href="/lab">04 The Lab</a>
        </nav>
    </main>
    <script src="/script.js"></script>
    <footer>
    </footer>
</body>
</html>