<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis Bio-encryption</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <video autoplay muted loop id="myVideo">
    <source src="/assets/leaf.mp4" type="video/mp4">
    </video>


      <header>
        <h1><a href="/" class="home-link">Genesis Bio-encryption</a></h1>
        <a href="/login" class="cta-button shuffle">Log In</a>
      </header>

      <nav>
        <a href="/about" class="shuffle">01 About</a>
        <a href="/pricing" class="shuffle">02 Pricing</a>
        <a href="/careers" class="shuffle">03 Careers</a>
        <a href="/lab" class="active shuffle">04 The Lab</a>
    </nav>

    <main>

        <subhead>A New Beginning for Your Data</subhead>


        <div id="dna">
            <div></div><div></div><div></div><div></div><div></div>
              <div></div><div></div><div></div><div></div><div></div>
              <div></div><div></div><div></div><div></div><div></div>
              <div></div><div></div><div></div><div></div><div></div>
              <div></div><div></div><div></div><div></div><div></div>
              <div></div><div></div><div></div><div></div><div></div>
          </div>

    </main>
    <script src="/shuffle.js"></script>
    <script src="/shapes.js"></script>
    <footer>
    </footer>
</body>
</html>