<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Options</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="/assets/leaf.mp4" type="video/mp4">
      </video>

      <header>
        <h1><a href="/" class="home-link">Genesis Bio-encryption</a></h1>
        <a href="/login" class="cta-button shuffle">Log In</a>
    </header>

    <script src="js/shuffle.js"></script>

</body>
</html>