/* ==========================
   Variables
========================== */
:root {
  --font-family: "font", sans-serif;
  --heading-font-size: 3rem;
  --font-size: 1rem;
  --line-height: 1;
  --font-weight: 100;
  --color-white: #ffffff;
  --color-black: #000000;
  --background-color: #000000;
  --transition: 0.5s ease;
  --border-radius: 5px;
  --circle-border-color: var(--color-white);
  --circle-background: transparent;
}

/* ==========================
   Base Styles
========================== */
/* Custom Font */
@font-face {
  font-family: "font";
  src: url("/fonts/Heming Variable.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-white);
  background: var(--background-color);
  font-weight: var(--font-weight);
}

/* ==========================
   Layout
========================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* ==========================
   Header
========================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header h1 {
  text-transform: uppercase;
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight);
  color: var(--color-white);
  margin: 0;
  max-width: 2.5rem;
}

/* ==========================
   Navigation
========================== */
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 10;
  align-items: left;
  width: 300px;
}

nav a {
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.1rem .2rem;
  border-radius: var(--border-radius);
  transition: transform var(--transition);
}

nav a:hover {
  text-decoration: underline;
  transform: translateY(-4px);
}

nav a.active {
  text-decoration: underline;
}

/* ==========================
   Buttons
========================== */
button,
.cta-button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: var(--color-white);
  background: transparent;
  border: none;
  transition: transform var(--transition);
  text-decoration: none;
}

button:hover,
.cta-button:hover {
  transform: translateY(-4px);
  text-decoration: underline;
}

button:active,
.cta-button:active {
  transform: translateY(2px);
  text-decoration: underline;
}

/* ==========================
   Forms
========================== */
.login-form {
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
  z-index: 1001;
  position: relative;
  text-transform: uppercase;
}

.login-form .form-group input {
  width: 100%;
  padding: 0.75rem;
  margin: .5rem 0;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-black);
}

.login-form .form-group input:focus {
  outline: 2px solid var(--color-white);
}

/* ==========================
   Utility Classes
========================== */
.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* ==========================
   Circle Styles
========================== */
.circle {
  border: 1px solid var(--circle-border-color);
  border-radius: 50%;
  position: absolute;
  background: var(--circle-background);
  z-index: 0;
}

/* ==========================
   Crossed Lines
========================== */
.cross-line {
  background-color: var(--color-white);
  z-index: 1;
}

/* ==========================
   Animations
========================== */
@keyframes rotate-circle {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* ==========================
   Video Background
========================== */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Prevent scrollbars */
html, body {
  overflow: hidden;
  height: 100%; /* Ensure the body takes up the full viewport height */
}